<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.arvin.selector">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application android:allowBackup="false">
        <activity
            android:name="net.arvin.selector.uis.SelectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PS.Default"
            android:windowSoftInputMode="adjustPan" />
    </application>
</manifest>
